*{
    margin:10;
    padding: 10;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h5, h6 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20;
    text-align: center;
}