@font-face {
    font-family: 'Einer Grotesk';
    src: url(./font/EinerGrotesk-Bold.woff2);
}

*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color:white;
    font-family: 'Einer Grotesk';
    margin-top: 10%;
}

.calculator{
    position: absolute;
    background-color: rgba(123, 189, 247, 0.89);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 20px;
}

.button{
    width: 50px;
    height: 50px;
    color: white;
    font-size: 26px;
    font-family: 'Einer Grotesk';
    border-radius: 5px;
    margin: 3px;
    border: none;
    cursor: pointer;
    background-color: rgb(158, 209, 250);
}

.button:hover{
    background-color: rgb(206, 199, 199);
}

#result{
    width: 214px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: right;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Einer Grotesk';
    font-size: 25px;
    padding: 5px;
    padding-bottom: 10px;
}

.fundo{
    background-image: linear-gradient(rgb(223, 165, 223),rgb(253, 222, 163), rgb(113, 210, 240));
    height: 90vh;
}